<section>
    <h1>Follow Us</h1>
    <div class="follow-us">
        <img src="/images/author/shouldbee.png" class="follow-us-avatar">

        <div>ShouldBee</div>
        <a href="https://twitter.com/shouldbee8" class="twitter-follow-button" data-show-count="false" data-show-screen-name="true">Follow @shouldbee8</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

    <div class="follow-us">
        <img src="/images/author/reoring.jpg" class="follow-us-avatar">

        <div>Reo Mori</div>
        <a href="https://twitter.com/reoring" class="twitter-follow-button" data-show-count="false" data-show-screen-name="true">Follow @reoring</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

    <div class="follow-us">
        <img src="/images/author/suin.jpg" class="follow-us-avatar">

        <div>Hidehito Nozawa</div>
        <a href="https://twitter.com/suin" class="twitter-follow-button" data-show-count="false" data-show-screen-name="true">Follow @suin</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
</section>
