{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}

{% if author == "reoring" %}
    {% assign author_name = "Reo Mori" %}
{% elsif author == "suin" %}
    {% assign author_name = "Hidehito Nozawa" %}
{% endif %}

<div class="top-author-meta">
    <img src="/images/author/{{ author }}.jpg" class="author-avatar">
    <time>Posted on {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}</time>
    <div>Written by {{ author_name }}</div>
</div>

