// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.top-author-meta {
  padding: 10px 0;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 80%;
  line-height: 140%;
  font-family: $sans;
  color: #aaa;
}

.author-avatar {
  height: 40px;
  width: 40px;
  float: left;
  border-radius: 20px;
  border: none;
  margin: 2px 10px 0 0;
}

